body {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    background: url(bg.jpg);
    background-position: bottom left;
    animation: driving 10s linear infinite;
}

.car {
    position: absolute;
    left: 100px;
    bottom: -50px;
    width: 200px;
}

.motorbike {
    left: 600px;
    bottom: 55px;
    width: 200px;
    position: absolute;
}

@keyframes driving {
    0% {
        background-position: bottom left;
    }
    100% {
        background-position: bottom right;
    }
}