button {
    background-color: blue;
    color: white;
    width: 10%;
    height: 10%;
    border: none;
    /* transition: background-color 0.2s; */
    transition-property: background-color;
    transition-duration: 0.4s;
}

button:hover {
    background-color: firebrick;
}